*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

$background-color: rgb(243, 208, 237);
$radius: 20px;

form {
    margin: 0;
    text-align: center;
    padding: 30px;
    position: absolute;
    border: 2px solid black;
    border-radius: $radius;
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-color;

    textarea {
        box-sizing: border-box;
        padding: 20px;
        background-color: $background-color;
        border: none;
        border-radius: $radius;
    }

    .button {
        button {
            width: 120px;
            height: 40px;
            padding: 10px 5px;
            border-radius: $radius;
            background-color: rgba(132, 99, 126, 0.487);
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: rgba(188, 94, 170, 0.487);
            }

            &:active {
                bottom: -5px;
            }

            &.listening {
                background-color: rgba(224, 44, 194, 0.487);
            }
        }
    }
}